body{
    background-color: cornflowerblue;
    height: 1500px;
}
.form{
    display: flex;
    align-items: center;
    text-align: center;
justify-content: center;

}
.form-regestration{

    display: flex;
    align-content: center;
    flex-direction: column;
  margin-top: 8px;
  padding: 9px;
    gap: 20px;
    border: 10px solid lightgreen;
    width:600px ;
    height: 800px;
    border-radius: 15px;
    background-color: darkseagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="text"]{
    background-color: rgb(132, 232, 211);
    border: 2px solid green ;
    border-radius: 10px;
    width:150px ;
    height:20px ;
}
input[type="text"]::placeholder{
color: darkcyan;
}
input[type="text"]:focus{
    outline: 2px solid green;
}
input[type="email"]{
    background-color: rgb(85, 185, 103);
     border: 2px solid green ;
    border-radius: 8px;
}
input[type="email"]::placeholder{
color: aqua;
}
input[type="email"]:focus{
outline: 2px solid aquamarine;
}
input[type="password"]{
    background-color: rgb(166, 243, 98);
     border: 2px solid green ;
    border-radius: 8px;
}
input[type="password"]::placeholder{
color: rgb(13, 125, 88);
}
input[type="password"]:focus{
outline: 2px solid aquamarine;
}
input[type="number"]{
    background-color: rgb(177, 234, 215);
     border: 2px solid green ;
    border-radius: 8px;
}
input[type="data" ]{
    background-color: aquamarine;

}
input[type="data"]:focus{
outline: 2px solid aquamarine;
}
input[type="submit"]{
background-color: chartreuse;
border: none;
border-radius: 10px;
color: rgb(0, 0, 0);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

input[type="reset"]{
background-color: chartreuse;
border: none;
border-radius: 10px;
}
textarea{
    background-color: aquamarine;
    color: rgb(217, 49, 49);
}
button{
    background-color: aquamarine;
    width: 90px;
    height: 50px;
    border: none ;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: darkblue;
}
.check{
    appearance: none;
    width: 20px;
    height: 20px;
    border:1px solid greenyellow ;
    margin-bottom: -2px;
    border-radius: 2px;
 
}
.check:checked{
background-color: aquamarine;
   background-size: cover;
    background-image: url(/LR2/assets/favicon-16x16.png);
}
.radio{
     appearance: none;
    width: 20px;
    height: 20px;
    border:1px solid greenyellow ;
    margin-bottom: -2px;
    border-radius: 20px;
}
.radio:checked{
    background-color: aquamarine;
   background-size: cover;
    background-image: url(/LR2/assets/favicon-16x16.png);
}
input[type="text"]:invalid{
background-color: rgb(239, 193, 143);
}